In [38]:
import pandas as pd
import matplotlib as mpl
import seaborn as sb

Importeer de datasets in geschikte dataframes

In [33]:
csn = pd.read_excel('uitslag_csn.xlsx')
prog = pd.read_excel('uitslag_prog.xlsx')

Omschrijf de dataframes

In [36]:
csn.describe()

,StudentNummer,Score,Score.1,Score.2,Score.3,Score.4,Score.5,Score.6,Score.7,Score.8,...,Score.30,Score.31,Score.32,Score.33,Score.34,Score.35,Score.36,Score.37,Score.38,Score.39
count,4.790000e+02,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,...,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,5.447409e+06,0.908142,0.565762,0.665971,0.576200,0.638831,0.889353,0.407098,0.849687,0.473904,...,0.534447,0.812109,0.306889,0.782881,0.799582,0.962422,0.592902,0.576200,0.820459,0.860125
std,2.636061e+06,0.289127,0.496175,0.472143,0.494676,0.480842,0.314023,0.491807,0.357752,0.499841,...,0.499334,0.391034,0.461685,0.412715,0.400731,0.190373,0.491807,0.494676,0.384206,0.347220
min,1.024103e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.275314e+06,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000
50%,5.339292e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,7.816836e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,9.975114e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
prog.describe()

,StudentNummerr,Score,Score.1,Score.2,Score.3,Score.4,Score.5,Score.6,Score.7,Score.8,...,Score.30,Score.31,Score.32,Score.33,Score.34,Score.35,Score.36,Score.37,Score.38,Score.39
count,4.530000e+02,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,...,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000,453.000000
mean,5.380351e+06,0.381898,0.273731,0.624724,0.768212,0.754967,0.657837,0.810155,0.426049,0.706402,...,0.730684,0.772627,0.673289,0.653422,0.836645,0.706402,0.935982,0.790287,0.406181,0.876380
std,2.688709e+06,0.486389,0.446365,0.484729,0.422441,0.430582,0.474958,0.392612,0.495048,0.455914,...,0.444095,0.419599,0.469529,0.476406,0.370098,0.455914,0.245055,0.407554,0.491662,0.329512
min,1.024103e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.014301e+06,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
50%,5.110934e+06,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000
75%,7.899777e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,9.960037e+06,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Wat zijn de dimensies van het dataframe?

In [6]:
csn.shape

(479, 42)

In [7]:
prog.shape

(453, 42)

Wat zijn de attributen van het dataframe?

In [10]:
csn.columns

Index(['StudentNummer', 'Eindtijd', 'Score', 'Score.1', 'Score.2', 'Score.3',
       'Score.4', 'Score.5', 'Score.6', 'Score.7', 'Score.8', 'Score.9',
       'Score.10', 'Score.11', 'Score.12', 'Score.13', 'Score.14', 'Score.15',
       'Score.16', 'Score.17', 'Score.18', 'Score.19', 'Score.20', 'Score.21',
       'Score.22', 'Score.23', 'Score.24', 'Score.25', 'Score.26', 'Score.27',
       'Score.28', 'Score.29', 'Score.30', 'Score.31', 'Score.32', 'Score.33',
       'Score.34', 'Score.35', 'Score.36', 'Score.37', 'Score.38', 'Score.39'],
      dtype='object')

In [32]:
prog.columns

Index(['StudentNummerr', 'Eindtijd', 'Score', 'Score.1', 'Score.2', 'Score.3',
       'Score.4', 'Score.5', 'Score.6', 'Score.7', 'Score.8', 'Score.9',
       'Score.10', 'Score.11', 'Score.12', 'Score.13', 'Score.14', 'Score.15',
       'Score.16', 'Score.17', 'Score.18', 'Score.19', 'Score.20', 'Score.21',
       'Score.22', 'Score.23', 'Score.24', 'Score.25', 'Score.26', 'Score.27',
       'Score.28', 'Score.29', 'Score.30', 'Score.31', 'Score.32', 'Score.33',
       'Score.34', 'Score.35', 'Score.36', 'Score.37', 'Score.38', 'Score.39'],
      dtype='object')

Zijn er missende waardes?

In [26]:
csn.isnull().sum().sum()

0

In [29]:
prog.isnull().sum().sum()

0

Wat zijn de datatypes voor de attributen?

In [39]:
csn.dtypes

StudentNummer     int64
Eindtijd         object
Score             int64
Score.1           int64
Score.2           int64
Score.3           int64
Score.4           int64
Score.5           int64
Score.6           int64
Score.7           int64
Score.8           int64
Score.9           int64
Score.10          int64
Score.11          int64
Score.12          int64
Score.13          int64
Score.14          int64
Score.15          int64
Score.16          int64
Score.17          int64
Score.18          int64
Score.19          int64
Score.20          int64
Score.21          int64
Score.22          int64
Score.23          int64
Score.24          int64
Score.25          int64
Score.26          int64
Score.27          int64
Score.28          int64
Score.29          int64
Score.30          int64
Score.31          int64
Score.32          int64
Score.33          int64
Score.34          int64
Score.35          int64
Score.36          int64
Score.37          int64
Score.38          int64
Score.39          int64
dtype: object

In [40]:
prog.dtypes

StudentNummerr     int64
Eindtijd          object
Score              int64
Score.1            int64
Score.2            int64
Score.3            int64
Score.4            int64
Score.5            int64
Score.6            int64
Score.7            int64
Score.8            int64
Score.9            int64
Score.10           int64
Score.11           int64
Score.12           int64
Score.13           int64
Score.14           int64
Score.15           int64
Score.16           int64
Score.17           int64
Score.18           int64
Score.19           int64
Score.20           int64
Score.21           int64
Score.22           int64
Score.23           int64
Score.24           int64
Score.25           int64
Score.26           int64
Score.27           int64
Score.28           int64
Score.29           int64
Score.30           int64
Score.31           int64
Score.32           int64
Score.33           int64
Score.34           int64
Score.35           int64
Score.36           int64
Score.37           int64
Score.38           int64
Score.39           int64
dtype: object

Van welk type is iedere dimensie (nominaal/categoriaal/discreet/continue)? Plaats de antwoorden in een tabel.